@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #0B0E14;
  color: #ffffff;
}

body {
  @apply font-sans antialiased;
}
